/* Universal reset: */
*{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, section, nav, footer {
	display: block;
}

body {
    line-height: 1.5em;
    font-family: Verdana;
    font-variant: small-caps;
    font-size: 14px;
    color: #333;
    background: #ffffff;
}

p {
    text-align: justify;
}

#header-wrapper {
    width: 100%;
    height: 172px;
    margin: 0 auto;
    background: url(images/header_repeat.jpg)  repeat-x;
}

.header-picture {
    width: 920px;
    height: 172px;
    padding: 0 10px;
    margin: 0 auto;
    background: url(images/header_banner.jpg) no-repeat;
}

h1 {
    position: relative;
    height: 40px;
    width: 260px;
    padding: 10px 0 0 15px;
    margin-right: 10px;
    font-size: 14px;
    color: #333333;
    background: url(images/header_h.jpg) right no-repeat;
}

h2 {
    position: relative;
    padding: 10px 0 0 10px;
    margin: 0 10px 15px 0;
    font-size: 15px;
    color: #333333;
}

h3 {
    float: left;
    margin: 70px 0 0 0;
    color: #ffffff;
    font-size: 40px;
    padding: 10px 0;
}

#menu-wrapper {
    width: 100%;
    margin: 0 auto;
    background: url(images/menu_repeat.jpg) repeat-x;
}

#menu {
    width: 920px;
    height: 45px;
    padding: 0 10px;
    margin: 0 auto;
}

#menu ul {
    margin: 0px;
    padding: 5px 0 0 0;
    list-style: none;
}

#menu ul li {
    float: right;
}

#menu ul li a, #menu ul li p {
    display: inline-block;
    padding: 5px 30px;
    margin: 0 5px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #BBB;
}

#menu li a:hover {
    background: #666;
    color: #FFF;
}

.menu-content {
    display: none;
}

#content {
    width: 920px;
    height: 450px;
    margin: 0 auto;
    padding: 40px 10px 20px 0;
    background: #ffffff;
}

.section-main {
    width: 550px;
    padding: 0 15px;
}

.section-nav-result {
    width: 600px;
    margin: 0 0 20px 10px;
    padding-top: 10px;
    float: right;
    display: none;
    height: 400px;
}

.register-form-holder {
    font-variant: small-caps;
    width: 400px;
    padding: 0 15px;
}

.register-form-holder input, .register-form-holder textarea {
    width: 100%;
    font-family: inherit;
    padding: 5px;
    margin: 5px;
}

.register-form-holder textarea {
	height: 100%;
}

.section-lobby {
    float: left;
    margin: 0 0 50px 10px;
    font-variant: small-caps;
    width: 220px;
}

.section-lobby textarea, .section-lobby input {
	width: 100%;
    font-family: inherit;
}

.section-lobby textarea {
    height: 250px;
}

.section-lobby select {
	width: 95%;
	font-family: inherit;
}

.send-message {
    width: 140px !important;
    font-variant: small-caps;
    border: 1px solid black;
    cursor: pointer;
}

.submit {
    text-align: right;
}

.error {
	width: 405px;
    display: none;
    padding: 5px;
    margin: 5px;
    color: #D8000C;
    font-size: 12px;
    background-color: #FFBABA;
}

.error img {
	vertical-align: top;
	padding: 2px;
}

.line {
	width: 1px;
	height: 130px;
	background-color: #000000;
	overflow: hidden;
	float: left;
}

nav {
    position: relative;
    padding-left: 5px;
    width: 220px;
    margin-right: 10px;
    float: left;
}

ul.sliding-navigation {
    list-style: none;
    font-size: 0.75em;
    margin: 10px 0;
    padding: 0;
}

ul.sliding-navigation li.sliding-element .content-caller {
    display: block;
    width: 150px;
    padding: 5px 18px;
    margin: 0;
    margin-bottom: 5px;
    color: #999;
    background:#222 url(images/tab_bg.jpg) repeat-y;
    border: 1px solid #1a1a1a;
    text-decoration: none;
    font-size: 14px;
}

ul.sliding-navigation li.sliding-element .content-caller:hover {
    color: #ffff66;
    cursor: pointer;
    text-decoration: underline;
}

footer {
    clear: both;
    width: 100%;
    margin: 0 auto;
    background: url(images/footer_repeat.jpg) repeat-x;
}

footer div {
    width: 920px;
    height: 40px;
    padding: 5px 10px 0 10px;
    margin: 0 auto;
    text-align: center;
    background: url(images/footer_banner.jpg) no-repeat;
    color: #ffffff;
}
