/* Universal reset: */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Tell the browser to render HTML 5 elements as block */
header, section, nav, footer {
    display: block;
}

/* Change cursor in AJAX requests */
html.busy, html.busy * {
    cursor: wait !important;
}

body {
    line-height: 1.5em;
    font-size: 14px;
    color: #333;
    background: #fff;
}

header {
    width: 100%;
    height: 172px;
    margin: 0 auto;
    background: url(images/header_repeat.jpg) repeat-x;
}

header p {
    width: 920px;
    height: 102px;
    margin: 0 auto;
    padding-top: 70px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    background: url(images/header_banner.jpg) no-repeat;
}

#menu {
    width: 100%;
    height: 45px;
    margin: -10px auto 0px auto;
    background: url(images/menu_repeat.jpg) repeat-x;
}

#menu li {
    float: right;
    padding: 7px 30px 7px 30px;
    margin: 0 5px;
    font-size: 13px;
    font-weight: bold;
    color: #BBB;
}

#menu #current-user {
    float: left;
    color: #ffdb83;
}

#menu li.menu-link:hover {
    background: #666;
    color: #FFF;
    cursor: pointer;
}

#content {
    width: 920px;
    height: 450px;
    margin: 0 auto;
    padding: 40px 10px 20px 0;
}

nav {
    float: left;
    position: relative;
    padding-left: 5px;
    width: 220px;
    margin-right: 10px;
}

nav p {
    display: block;
    width: 150px;
    padding: 5px 18px;
    margin-bottom: 5px;
    color: #999;
    background: #222 url(images/tab_bg.jpg) repeat-y;
    border: 1px solid #1a1a1a;
    text-decoration: none;
    font-size: 14px;
}

nav p:hover {
    color: #ffdb83;
    cursor: pointer;
    text-decoration: underline;
}

nav p.nav-current {
    color: #ffdb83;
    text-decoration: underline;
}

nav p.nav-current:hover {
    cursor: default;
}

#nav-vertical-line {
    width: 1px;
    height: 165px;
    background-color: #000;
    overflow: hidden;
    float: left;
}

td a {
	color: #dc5616;
	text-decoration: none;
}

td a:hover {
	text-decoration: underline;
}

footer {
    clear: both;
    width: 100%;
    background: url(images/footer_repeat.jpg) repeat-x;
}

footer p {
    width: 920px;
    height: 40px;
    padding-top: 5px;
    margin: 0 auto;
    text-align: center;
    background: url(images/footer_banner.jpg) no-repeat;
    color: #fff;
}

/* Forms */

form .error {
    width: 100%;
    padding: 5px;
    margin: 5px auto;
    color: #D8000C;
    font-size: 12px;
    background-color: #FFBABA;
    text-align: center;
}

form .error img {
    vertical-align: top;
    padding: 3px;
}

form input[type="submit"] {
    text-align: right;
}

/* Sections */

#registration {
    width: 350px;
    margin: 0 auto;
}

#registration form input[type="text"],
#registration form input[type="password"] {
    width: 100%;
    padding: 5px 0px 5px 5px;
    margin: 2px 0px 15px 0px;
}

#registration form input[type="submit"] {
    display: block;
    margin: 0 auto;
}

.main-section {
    width: 600px;
    height: 400px;
    margin: 0 0 20px 10px;
    padding-top: 10px;
    float: right;
}

.main-section form {
    width: 400px;
    padding: 0 15px;
}

.main-section form input[type="text"],
.main-section form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.main-section form .submit {
    display: block;
    text-align: right;
}

.main-section form textarea {
    height: 100%;
}

.main-section form select {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

#active-games table td,
#active-games table th {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

#active-games table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

#active-games #empty-server {
    text-align: center;
}

/* Lobby */
#chat {
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    float: left;
    overflow: auto;
}
.chat-message:before {
    content: ">"
}

#chat p {
    display: block;
    float: left;
}

#chat div {
    width: 100%;
    clear: both;
}

#players-wrap {
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

#players {
    width: 100%;
}

#players .state{
    width: 50px;
    color: #dc5616;
}

#army-wrap {
    float: left;
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

#army-wrap form label {
    padding-bottom: 5px;
}

#army-wrap form select {
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
}

#chat, #lobby form {
    width: 300px;
}

#lobby form {
    clear: left;
    margin-top: 6px;
}

#lobby form label {
    display: block;
}

#lobby form textarea {
    width: 100%;
}

#ready {
    float: right;
    top: -32px;
    display: block;
}

#ready p {
    padding: 5px;
}

/*game*/

#menu #current-game {
    float: left;
    color: #ffdb83;
    margin-top: 5px;
}

#field {
    float: left;
    width: 600px;
    height: 550px;
    border: 1px solid grey;
    margin: 0 0 60px 20px;
}

table#tableMap td {
    height: 25px;
    width: 25px;
    padding: 2px;
    background: green;
}

#control-panel {
    float: right;
    width: 280px;
    height: 550px;
    border: 1px solid grey;
}

#control-panel p {
    padding: 5px;
    color: #dc5616;
}